<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>会員一覧</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ユーザー名</th>
            <th scope="col">お気に入り数  <i class="fas fa-star"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.nickname, customer_path(customer) %> </td>
            <td><%= customer.favorites.count %></td>
          </tr>  
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>