// Place all the styles related to the public/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_review {
  margin: 10px 0 20px 0;
  text-align: left;
}

.star-score {
  justify-content: right;
}