<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>会員一覧</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ユーザー名</th>
            <th scope="col">住所</th>
            <th scope="col">電話番号</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= link_to customer.nickname, admin_customer_path(customer) %> </td>
              <td><%= customer.full_address %></td>
              <td><%= customer.phone_number %>
              <% if customer.is_deleted == true %>
                <td>退会</td>
              <% else %>
                <td>有効</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>