<div class="about-background-image">
  <div class="container">
    <div class="row">
      <div class="col col-xl-12">
        <h2 class="home-title">サイト概要</h2>
        <p class="home-text">このサイトはおすすめのレストランの共有サイトです。</br>
        みんなのおすすめのお店を投稿しておいしいお店の共有をしよう。</br>
        またこのサイトはお店の情報を誰でも編集できるようになっていますので、</br>
        新しい情報や間違った情報は積極的に編集していただけるとありがたいです。</br>
        ※お店やユーザーへの誹謗中傷はご遠慮ください。</br>
      </div>
    </div>
  </div>
</div>