  <div class="container">
    <div class="row">

        <div class="col col-sm-12">
          <h1>レストランサーチャー</h1>
        </div>
        <div class="col col-sm-12">
          <p>自分のお気に入りのお店の投稿をしてみんなで共有しよう</p>
        </div>
    </div>
  </div>